body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar{
    background-color: rgb(66, 65, 65);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    color: white;
}

.logo h1{
    margin: 0;
    font-size: 24px;
}

.nav-links{
    display: flex;
}

.nav-links a{
    color: white;
    text-decoration: none;
    padding: 15px;
    transition: 0.3sec;
}

.nav-links a:hover{
    color: yellow;
}

.main-content{
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1540959733332-eab4deabeeaf?q=80&w=894&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")center/cover;
    display: flex;
    position:relative ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content-overlay{
    text-align: center;
    color: white;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
}

.content-overlay h2{
    font-weight: bold;
     position: center;
}

.content-overlay p{
       margin-top: 10px;
       position: center;
}

.get-started-button{
    background-color: #333;
    color: #555;
    padding: 10px 20px;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}

.get-started-button:hover{
    background-color: #555;
    color: rgba(255, 255, 0, 0.878);
}
